{% extends "ShopBundle::layout.html.twig" %}

{% block title %}Search - {{ needle }}{% endblock %}

{% block body %}
    {% include 'ShopBundle:_inc:header.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"> {{ gadgets|length }} Search results for "{{ needle }}"</div>
            <div class="col-md-1 col-md-offset-5">Sort by:</div>
            <div class="col-md-2">
                <span {% if gadgets.isSorted('g.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(gadgets, 'Title', 'g.title') }}</span>
                <span>{{ knp_pagination_sortable(gadgets, 'Price', 'g.price') }}</span>
            </div>
        </div>
        <div class="row">
            {%  for gadget in gadgets %}
                <div class="col-md-4">
                    <a href="{{ url('shop_gadget_detail', {'id': gadget.id}) }}">
                        <div class="row list-thumb">
                            <div class="col-md-12">
                                <img src="{{ gadget.image }}" alt="{{ gadget.title }}">
                            </div>
                        </div>
                        <div class="row list-info">
                            <div class="col-md-12">
                                <span class="gadget-title">{{ gadget.title }}</span>
                                <span class="gadget-price">{{ gadget.price|price }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row pagination-control">
            {{ knp_pagination_render(gadgets) }}
        </div>
    </div>
{% endblock %}
