{% if maxPages > 1 %}
    <ul class="pagination pagination-sm">
        {# `«` arrow  #}
        <li {{ page == 1 ? 'class="disabled"' }}>
            <a href="{{ path(routeName, {page: page-1 < 1 ? 1 : page-1}|merge(params)) }}">«</a>
        </li>

        {% for i in 1..maxPages %}
            <li {{ page == i ? 'class="active"' }}>
                <a href="{{ path(routeName, {page: i}|merge(params)) }}">{{ i }}</a>
            </li>
        {% endfor %}

        <li {{ page == maxPages ? 'class="disabled"' }}>
            <a href="{{ path(routeName, {page: page+1 <= maxPages ? page+1 : page}|merge(params)) }}">»</a>
        </li>
    </ul>
{% endif %}